mixin input(options)
  - 
    const {types, placeholder, inputClassName, id, text} = options
    let letInputClassName = 'input__input'
    letInputClassName += inputClassName ? ` ${inputClassName}` : ''

  .input
    if text 
      h3(class="font-h3 input__text")= text
    input(class= letInputClassName id= id type= types placeholder= placeholder)

mixin input-dropdown(options)
  - 
    const {value, id, dropdownClassName, inputClassName, optionsClassName, spanClassName, option, textLeft, textRight, text, text2} = options
    let letDropdownClassName = 'input'
    letDropdownClassName += dropdownClassName ? ` ${dropdownClassName}` : ''
    let letInputClassName = 'input__input'
    letInputClassName += inputClassName ? ` ${inputClassName}` : ''
    let letOptionsClassName = 'input__select-options'
    letOptionsClassName += optionsClassName ? ` ${optionsClassName}` : ''
    let letSpanClassName = spanClassName ? ` ${spanClassName}` : ''
  
  div(class= letDropdownClassName)
    if text 
      .input__texts
        h3(class="font-h3 input__text")= text
        p(class="font-h3 input__text input__text--color")= text2
    input(class= letInputClassName id= id type="text" value= value readonly)
    label(class="input__label" for= id) 
      span(class="font-icon input__icon") expand_more
    span(class= letSpanClassName)
    if option
      div(class= letOptionsClassName)
        each val in option
          -
            let letCpacityClassName = 'input__btn'
            letCpacityClassName += val.opacityClassName ? ` ${val.opacityClassName}` : ''

          .input__select-option
            h3(class="font-h3 input__option")= val.text
            .input__btns 
              input(class= letCpacityClassName type="button" value="-")
              h3(class="font-h3 input__number")= val.number
              input(class="input__btn" type="button" value="+")
        if textRight
          .input__buttons
            +button-link({
              text: textLeft, 
              linkClassName: 'button-link2__link'
            })
            +button-link({
              text: textRight, 
              linkClassName: 'button-link2__link'
            })

mixin input-email()
  .input 
    form.input__form
      input(class="input__input" id="email" type="text" placeholder="Email")
      input(class="font-icon font-lg input__submit" type="submit" value="arrow_forward")