mixin input(options)
  - const { types, placeholder, hover, id, text, length, autocomplete, pattern } = options;
  - const classNameHover = hover ? 'input__input_hovering' : '';
  - const pattern1 = pattern ? '(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}' : false;

  .input
    if text
      h3.font-h3.input__text= text
    input(
      class=`input__input ${classNameHover}`,
      id=id,
      type=types,
      placeholder=placeholder,
      maxlength=length,
      autocomplete=autocomplete,
      pattern=pattern1
    )
