mixin input(options)
  - const { types, placeholder, hover = '', id, text, length, autocomplete, pattern } = options;

  .input
    if text
      h3.font-h3.input__text= text
    input(
      class=`input__input ${hover}`,
      id=id,
      type=types,
      placeholder=placeholder,
      maxlength=length,
      autocomplete=autocomplete,
      pattern=pattern
    )
