mixin input(options)
  -
    const { type = 'text', id, value, placeholder, readonly, state, size, theme, cursor, js, maxlength, pattern } = options;

    const stateModifiers = {
      hovering: 'input_state_hovering',
    };

    const sizeModifiers = {
      indentation: 'input_size_indentation',
    };

    const themeModifiers = {
      bordered: 'input_theme_bordered',
    };

    const cursorModifiers = {
      pointer: 'input_cursor_pointer',
    };

    const jsClass = {
      birthDate: 'js-input-birthDate',
    };

    const classes = [
      stateModifiers[state],
      sizeModifiers[size],
      themeModifiers[theme],
      cursorModifiers[cursor],
      jsClass[js],
    ];

  input.input(
    class=classes,
    type=type,
    id=id,
    value=value,
    placeholder=placeholder,
    autocomplete="off",
    maxlength=maxlength,
    pattern=pattern,
    readonly=readonly
  )
