mixin input(options)
  -
    const { type = 'text', text, desc, value, placeholder, readonly, state, size, theme, cursor, icon, js, maxlength, pattern } = options;

    const stateModifiers = {
      hovering: 'input__text-field_state_hovering',
    };

    const sizeModifiers = {
      indentation: 'input__text-field_size_indentation',
    };

    const themeModifiers = {
      bordered: 'input__text-field_theme_bordered',
    };

    const cursorModifiers = {
      pointer: 'input__text-field_cursor_pointer',
    };

    const iconModifiers = {
      arrow: 'input_icon_arrow',
    };

    const jsClass = {
      birthDate: 'js-input__text-field-birthDate',
    };

    const classes = [
      stateModifiers[state],
      sizeModifiers[size],
      themeModifiers[theme],
      cursorModifiers[cursor],
      jsClass[js],
    ];

    const classesLabel = [
      iconModifiers[icon],
    ];

  label.input(class=classesLabel)= text
    if desc
      span.input__desc= desc
    input.input__text-field(
      class=classes,
      type=type,
      value=value,
      placeholder=placeholder,
      autocomplete="off",
      maxlength=maxlength,
      pattern=pattern,
      readonly=readonly
    )
