mixin button-like(options)
  -
    const {text, number, active} = options
    let letActive = 'button-like__button js-button-like__button'
    letActive += active ? ` ${active}` : ''

  .button-like 
    button(class=letActive, type="button")= text
      span.button-like__button_font_another= number

mixin button-rate(options)
  -
    const {count} = options

  .button-rate.js-button-rate(data-count=count)

mixin button-link(options)
  -
    const {text, href, linkClassName} = options
    let letLinkClassName = 'font-h3'
    letLinkClassName += linkClassName ? ` ${linkClassName}` : ''

  .button-link
    a(class=letLinkClassName, href=href)= text

mixin button-submit(options)
  -
    const {text} = options

  .button-submit
    input#submit.font-h3.button-submit__input(type="submit", value=text)
    label.button-submit__label(for="submit") 
      span.font-icon.button-submit__icon arrow_forward
