mixin chart(options)
  - const { gradients, circles, estimations } = options;

  .chart 
    svg.chart__svg(width="155px", height="155px", viewBox="0 0 42 42")
      defs
        each val, index in gradients
          linearGradient(id='Gradient' + (index + 1))
            stop(offset="0%", stop-color=val.min)
            stop(offset="100%", stop-color=val.max)
      each val in circles
        circle(
          cx="21",
          cy="21",
          r="15.91549430918954",
          fill=val.fill,
          stroke=val.stroke,
          stroke-width=val.strokeWidth,
          stroke-dasharray=val.strokeDasharray,
          stroke-dashoffset=val.strokeDashoffset
        )
    p.chart__number 260
    p.chart__text голосов
    ul.chart__list
      each val in estimations
        li.chart__item= val
