include ../button-like/button-like

mixin reviews(options)
  - const { reviews, marginList = '', marginItem = '' } = options;

  ul(class=`reviews__list ${marginList}`)
    each val in reviews
      li(class=`reviews__item ${marginItem}`)
        .reviews__block-avatar 
          img.reviews__avatar(
            src=`../../blocks/reviews/img/${val.image}.jpg`,
            alt="avatar"
          )
          +button-like({ text: val.buttonText, number: val.buttonNumber, active: val.active })
        .reviews__block-review 
          p.reviews__name= val.name
          p.reviews__date= val.date
          p.reviews__review-text= val.reviewText
