include ../button-like/button-like

mixin reviews(options)
  - const { reviews, marginList, marginItem } = options;
  - const classNameMarginList = marginList ? 'reviews__list_margin_top' : '';
  - const classNameMarginItem = marginItem ? 'reviews__item_margin_top' : '';

  ul(class=`reviews__list ${classNameMarginList}`)
    each val in reviews
      li(class=`reviews__item ${classNameMarginItem}`)
        .reviews__block-avatar 
          img.reviews__avatar(
            src=`../../blocks/reviews/img/${val.image}.jpg`,
            alt="avatar"
          )
          +button-like({ text: val.buttonText, number: val.buttonNumber, active: val.active })
        .reviews__block-review 
          p.reviews__name= val.name
          p.reviews__date= val.date
          p.reviews__review-text= val.reviewText
