mixin reviews(options)
  -
    const {reviews, listClassName, itemClassName} = options 
    let letListClassName = 'reviews__list'
    letListClassName += listClassName ? ` ${listClassName}` : ''
    let letItemClassName = 'reviews__item'
    letItemClassName += itemClassName ? ` ${itemClassName}` : ''

  ul(class= letListClassName)
    each val in reviews
      li(class= letItemClassName)
        .reviews__block-avatar 
          img(class="reviews__avatar" src=`../../blocks/reviews/img/${val.image}.jpg`, alt="avatar")
          +button-like({
            text: val.buttonText, 
            number: val.buttonNumber,
            buttonClassName: val.buttonButtonClassName
          })
        .reviews__block-review 
          p.reviews__name= val.name
          p.reviews__date= val.date
          p.reviews__review-text= val.reviewText