mixin reviews(options)
  -
    const {reviews, marginList, marginItem} = options 
    let letMarginList = 'reviews__list'
    letMarginList += marginList ? ` ${marginList}` : ''
    let letMarginItem = 'reviews__item'
    letMarginItem += marginItem ? ` ${marginItem}` : ''

  ul(class=letMarginList)
    each val in reviews
      li(class=letMarginItem)
        .reviews__block-avatar 
          img.reviews__avatar(
            src=`../../blocks/reviews/img/${val.image}.jpg`,
            alt="avatar"
          )
          +button-like({ text: val.buttonText, number: val.buttonNumber, active: val.active })
        .reviews__block-review 
          p.reviews__name= val.name
          p.reviews__date= val.date
          p.reviews__review-text= val.reviewText
