mixin checkbox(options)
  - const { checkboxs, listClassName = '', color = '' } = options;

  .checkbox
    ul(class=`checkbox__list ${listClassName}`) 
      each val in checkboxs
        li(class=val.width ? `checkbox__item ${val.width}` : 'checkbox__item')
          span.checkbox__figure 
          input.checkbox__checkbox.visually-hidden_focusable(
            type="checkbox",
            id=val.id,
            checked=val.checked
          )
          label(class=`checkbox__label ${color}`, for=val.id)= val.label
            if val.text
              br
              span.checkbox__label_colored2= val.text
