include ../input/input
include ../button/button
include ../checkbox/checkbox

mixin form-search()
  form(class="form js-form form-search js-form-search")
    h1(class="font-h1 form__title") Найдём номера под ваши пожелания
    .form__inputs 
      +input-dropdown({
        value: 'ДД.ММ.ГГГГ',
        id: 'date1',
        inputClassName: 'input__input--width',
        text: 'прибытие',
        spanClassName: 'datepick2 js-datepick2'
      })
      +input-dropdown({
        value: 'ДД.ММ.ГГГГ',
        id: 'date2',
        inputClassName: 'input__input--width',
        text: 'выезд'
      })
    .form__guests 
      +input-dropdown({
        dropdownClassName: 'input-dropdown js-input-dropdown',
        value: 'Сколько гостей',
        id: 'guest1',
        option: [
          {
            text: 'взрослые', 
            number: 0, 
            opacityClassName: 'input__btn--opacity'
          }, 
          {
            text: 'дети', 
            number: 0, 
            opacityClassName: 'input__btn--opacity'
          }, 
          {
            text: 'младенцы', 
            number: 0, 
            opacityClassName: 'input__btn--opacity'
          }
        ],
        textLeft: '', 
        textRight: 'применить',
        text: 'гости'
      })
    .form__submit 
      +button-submit({text: 'подобрать номер'})

mixin form-room(options)
  -
    const {textItem, totalClassName, luxeClassName, inputsClassName, amountClassName, textClassName, iconClassName, numberClassName} = options
    let letTotalClassName = 'form__total-number'
    letTotalClassName += totalClassName ? ` ${totalClassName}` : ''
    let letLuxeClassName = 'font-h3 form__symbol--color'
    letLuxeClassName += luxeClassName ? ` ${luxeClassName}` : ''
    let letInputsClassName = 'form__inputs'
    letInputsClassName += inputsClassName ? ` ${inputsClassName}` : ''
    let letAmountClassName = 'form__amount'
    letAmountClassName += amountClassName ? ` ${amountClassName}` : ''
    let letTextClassName = 'form__text-price'
    letTextClassName += textClassName ? ` ${textClassName}` : ''
    let letIconClassName = 'form__icon-price'
    letIconClassName += iconClassName ? ` ${iconClassName}` : ''
    let letNumberClassName = 'form__number-price'
    letNumberClassName += numberClassName ? ` ${numberClassName}` : ''

  form(class="form js-form")
    .form__block-price
      p.form__symbol № 
        span.form__symbol--size 888
          span(class= letLuxeClassName) Люкс
      p.form__number 9 990₽ 
        span.form__number--size в сутки
    div(class= letInputsClassName) 
      +input-dropdown({
        value: '19.08.2019',
        id: 'date3',
        inputClassName: 'input__input--width',
        text: 'прибытие',
        spanClassName: 'datepick3 js-datepick3'
      })
      +input-dropdown({
        value: '23.08.2019',
        id: 'date4',
        inputClassName: 'input__input--width',
        text: 'выезд'
      })
    .form__guests 
      +input-dropdown({
        dropdownClassName: 'input-dropdown js-input-dropdown',
        value: '3 гостя',
        id: 'guest2',
        option: [
          {
            text: 'взрослые', 
            number: 2
          }, 
          {
            text: 'дети', 
            number: 1
          }, 
          {
            text: 'младенцы', 
            number: 0, 
            opacityClassName: 'input__btn--opacity'
          }
        ],
        textLeft: 'очистить', 
        textRight: 'применить',
        text: 'гости'
      })
    .form__block-prices 
      ul.form__list 
        li.form__item 
          p(class= letTextClassName) 9 990₽ х 4 суток
          p(class= letNumberClassName) 39 960₽
        li.form__item 
          p(class= letTextClassName) Сбор за услуги: скидка 2 179₽
            span(class= letIconClassName) i
          p(class= letNumberClassName) 0₽
        li.form__item 
          p(class= letTextClassName)= textItem
            span(class= letIconClassName) i
          p(class= letNumberClassName) 300₽
    div(class= letAmountClassName) 
      p.form__total Итого
      p.form__ellipsis
      p(class= letTotalClassName) 38 081₽
    .form__submit--margin1
      +button-submit({text: 'забронировать'})

mixin form-registration(options)
  -
    const {textSubmit} = options

  form(class="form js-form")
    h1(class="font-h1 form__title") Регистрация аккаунта
    .form__name 
      +input({placeholder: 'Имя'})
    .form__surname 
      +input({placeholder: 'Фамилия'})
    .form__radio
      include ../radio/radio
    .form__birthdate
      +input({
        placeholder: 'ДД.ММ.ГГГГ',
        text: 'дата рождения',
        id: 'birthdate'
      })
    .form__email
      +input({
        placeholder: 'Email',
        text: 'данные для входа в сервис'
      })
    .form__password
      +input({
        types: 'password',
        placeholder: 'Пароль'
      })
    .form__checkbox
      +checkbox-toggle({
        id: 'checkbox', 
        checked: false
      })
    .form__submit--margin2
      +button-submit({text: textSubmit})
    .form__reg 
      p.form__text-reg Уже есть аккаунт на Toxin
      +button-link({
        text: 'ВОЙТИ', 
        href: 'sign-in.html',
        linkClassName: 'button-link__link button-link__link--border'
      })

mixin form-sign-in()
  form(class="form js-form")
    h1(class="font-h1 form__title") Войти
    .form__email
      +input({placeholder: 'Email'})
    .form__password
      +input({
        types: 'password',
        placeholder: 'Пароль'
      })
    .form__submit--margin3
      +button-submit({text: 'войти'})
    .form__reg 
      p.form__text-reg Нет аккаунта на Toxin?
      +button-link({
        text: 'СОЗДАТЬ', 
        href: 'registration.html',
        linkClassName: 'button-link__link button-link__link--border'
      })