mixin button-link(options)
  - const { text, href, linkClassName, hover, padding } = options;

  .button-link
    if linkClassName === 'background' && hover
      a.font-h3.button-link__link1.button-link__link1_hovering(href=href)= text
    else if linkClassName === 'background' && padding
      a.font-h3.button-link__link1.button-link__link1_padding(href=href)= text
    else if linkClassName === 'background'
      a.font-h3.button-link__link1(href=href)= text
    else if linkClassName === 'border' && hover
      a.font-h3.button-link__link2.button-link__link2_hovering(href=href)= text
    else if linkClassName === 'border' && padding
      a.font-h3.button-link__link2.button-link__link2_padding(href=href)= text
    else if linkClassName === 'border'
      a.font-h3.button-link__link2(href=href)= text
    else if linkClassName === 'color' && hover
      a.font-h3.button-link2__link.button-link2__link_hovering(href=href)= text
    else if linkClassName === 'color'
      a.font-h3.button-link2__link(href=href)= text
