-
  const genders = [
  { id: 'man', gender: 'Мужчина', checked: 'checked' }, 
  { id: 'woman', gender: 'Женщина' }
  ];

.radio
  ul.radio__list 
    each val in genders
      li.radio__item 
        input.radio__radio(
          id=val.id,
          type="radio",
          name="man-woman",
          checked=val.checked
        )
        label.radio__label(for=val.id)= val.gender
