mixin radio(options)

  ul.radio 
    each val in options
      li.radio__item 
        input.radio__radio(
          id=val.id,
          type="radio",
          name="man-woman",
          checked=val.checked
        )
        label.radio__label(for=val.id)= val.gender
