include ../button-like/button-like

mixin review(options)
  - const { review } = options;

  .review
    .review__block-avatar 
      img.review__avatar(
        src=`../../../assets/img/avatars/${review.image}.jpg`,
        alt="avatar"
      )
      +button-like({ text: review.quantity, active: review.active })
    .review__block-review 
      p.review__name= review.name
      p.review__date= review.date
      p.review__text= review.text
