include ../logo/logo
include ../subscription/subscription

mixin footer(options)
  -
    const { state, linksFooter, socials } = options; 

    const stateModifiers = {
      bordered: 'footer_state_bordered',
    };

    const classes = [
      stateModifiers[state], 
    ];

  footer.footer(class=classes)
    .footer__top(class=state === 'displayed' ? 'footer__top_state_displayed' : false)
      .footer__block-logo 
        .footer__logo-header
          +logo
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      each val in linksFooter
        .footer__block-nav 
          h3.footer__title= val.title
          ul.footer__list 
            each link in val.links
              li.footer__item 
                a.footer__link(href="/mock-address")= link
      .footer__block-subscription
        h3.footer__title Подписка
        p.footer__subscription Получайте специальные предложения и новости сервиса
        +subscription({ placeholder: 'Email', state: 'up' })
    .footer__streak(
      class=state === 'displayed' ? 'footer__streak_state_displayed' : false
    )
    .footer__bottom(
      class=state === 'displayed' ? 'footer__bottom_state_displayed' : false
    )
      .footer__logo-bottom(
        class=state === 'displayed' ? 'footer__logo-bottom_state_displayed' : false
      )
        +logo
      p.footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
      ul.footer__socials(
        class=state === 'displayed' ? 'footer__socials_state_displayed' : false
      ) 
        each val in socials
          li.footer__social 
            a.footer__link-social(
              href=val.href,
              target="_blank",
              rel="noopener noreferrer"
            )
              img.footer__img(src=val.src, alt="logo")
