include ../input-email/input-email

mixin footer(options)
  - 
    const { theme, links, socials } = options; 

    const themeModifiers = {
      bordered: 'footer_bordered',
    };

    const classes = [
      themeModifiers[theme], 
    ];

  footer.footer(class=classes)
    .footer__top
      .footer__block-logo 
        +logotype({})
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      each val in links
        .footer__block-nav 
          h3.footer__links= val.title
          ul.footer__list 
            each link in val.links
              li.footer__item 
                a.footer__link(href="/mock-address")= link
      .footer__block-subscription
        h3.footer__links Подписка
        p.footer__subscription Получайте специальные предложения и новости сервиса
        .footer__block-submit 
          +input-email
    .footer__center
    .footer__bottom
      p.footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
      ul.footer__socials 
        each social in socials
          li.footer__social 
            a.footer__link-social(
              href=social.href,
              target="_blank",
              rel="noopener noreferrer"
            )
              img.footer__img(src=social.src, alt="logo")
