include ../button-rate/button-rate

mixin card-photo(options)
  - const { display = '', margin = '', padding = '', photos } = options;

  .card-photo
    ul(class=`card-photo__list ${display}`)
      each val in photos
        li(class=`card-photo__item ${margin}`)
          .card-photo__block-img
            div(
              class=val.hover ? `flexslider js-flexslider ${val.hover}` : 'flexslider js-flexslider'
            )
              ul.slides
                each img in val.imgs
                  li
                    a.card-photo__link(href="room-details.html")
                      img.card-photo__img(
                        src=`../../blocks/card-photo/img/${img}`,
                        alt="photo"
                      )
          .card-photo__details
            .card-photo__block-price
              p.card-photo__symbol №
                span.card-photo__symbol_size_large= val.number
                  span(class=`font-h3 card-photo__symbol_colored ${padding}`)= val.luxe
              p.card-photo__number= `${val.price}₽ `
                span.card-photo__number_size_small в сутки
            .card-photo__block-estimations
              +button-rate({ count: val.count })
              p.card-photo__text-review= val.review
                span.card-photo__text-review_weight_normal Отзывов
