include ../button-rate/button-rate

mixin card-photo(options)
  -
    const { state, images, number, category, price, count, review } = options;

    const stateModifiers = {
      hovering: 'flexslider_hovering',
    };

    const classes = [
      stateModifiers[state],
    ];

  .card-photo
    .card-photo__block-img
      div.flexslider.js-flexslider(class=classes)
        ul.slides
          each img in images
            li
              a.card-photo__link(href="room-details.html")
                img.card-photo__img(
                  src=`../../../assets/img/rooms/${img}`,
                  alt="photo"
                )
    .card-photo__details
      .card-photo__block-price
        p.card-photo__symbol №
          span.card-photo__number= ` ${number}`
            span.card-photo__category= ` ${category}`
        p.card-photo__price= `${price}₽ `
          span.card-photo__day в сутки
      .card-photo__block-estimations
        +button-rate({ count: count })
        p.card-photo__text-review= `${review} `
          span.card-photo__feedback Отзывов
